.page {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-side, .right-side {
    width: 50%;
    height: 100%;
    margin: 5px;
}

.stuff-input {
    height: 50%;
    width: calc(100% - 30px);
    resize: none;
    margin: 15px
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#option, #current, .result{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#reset {
    color:blue;
    text-decoration: underline;
}

#results, #remaining-stuff  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.progress {
    height: 40%;
    overflow: hidden;
}


.ranking-label {
    align-self: flex-start;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}